@media (max-width: 1024px) {
    .contato-box {
        gap: 40px;
    }
}

@media (max-width: 768px) {

    .contato-container {
        padding: 20px 10px;
    }

    .contato-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contato-img img {
        width: 100%;
        max-width: 220px;
        padding-top: 0;
    }

    .contato-form {
        width: 100%;
        max-width: 280px;
        align-items: stretch;
    }

    .contato-form input,
    .contato-form select,
    .contato-form textarea,
    .contato-form button {
        width: 100%;
        max-width: 280px;
    }

     .lgpd-texto,
    .lgpd-checkbox {
        max-width: 100%;
    }

    .lgpd-texto {
        font-size: 10px;
    }

    .lgpd-checkbox {
        font-size: 10px;
        gap: 6px;
    }

    .lgpd-checkbox input {
        width: 12px;
        height: 12px;
        min-width: 12px;
    }

    .contato-img img {
        max-width: 180px;
    }
}


@media (max-width: 480px) {

    .contato-container {
        padding: 15px 10px;
    }

    .contato-form {
        width: 100%;
        max-width: 100%;
    }

    .contato-form input,
    .contato-form select,
    .contato-form textarea,
    .contato-form button {
        max-width: 100%;
    }


}